@font-face {
    font-family: 'Roboto';
    src: url(fonts/Robot.ttf) format('truetype');
}

@font-face {
    font-family: 'Malgun';
    src: url(fonts/malgun.ttf) format('truetype');
}

@font-face {
    font-family: 'Futura-Title';
    src: url(fonts/futuratitle.ttf) format('truetype');
}

@font-face {
    font-family: 'Futura-Parrafo';
    src: url(fonts/futuraparraf.ttf) format('truetype');
}

#background{
    background-image: url("img/background.jpg");
}

#nav{
   position: absolute;
   background-color: black;
   width:  1440px;
   height: 80px;
   margin: -10px;
}



#logo{
    font-size: 34pt;
    font-family: 'Roboto';
    color: white;
    margin-top: 12px;
    margin-left: 25px;
}

#a{
    position: absolute;
    font-size: 15pt;
    font-family: 'Malgun';
    color: white;
    margin-top: -80px;
    margin-left: 1112px;
}

#h1{
    position: absolute;
    font-size: 35pt;
    font-family: 'Futura-Title';
    color: white;
    margin-top: 400px;
    margin-left: 600px;
}

#p{
    position: absolute;
    font-size: 21pt;
    font-family: 'Futura-Parrafo';
    color: white;
    margin-left: 600px;
    margin-top: 480px;
}

#img{
    position:absolute;
    margin-top: 300px;
    margin-left: 100px;
}